.App {
  font-family: sans-serif;
  text-align: center;
}
.accrdion_section {
  display: flex;
  flex-direction: column;
  margin: 1 auto;
  max-width: 90%;
}
.accordion_content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.5s ease;
  border-radius: 10px;
}
.accrdion {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 15px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  border: none;
  margin: 1px;
  padding: 10px;
}
.accrdion:hover,
.active {
  background-color: palegreen;
}
.sarrow {
  margin-left: 10px;
  margin-top: 15px;
  border-left: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
  width: 0.5rem;
  height: 0.5rem;
  transform: rotate(220deg);
}
.darrow {
  margin-left: 10pxxxxx;
  margin-top: 15px;
  border-left: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
  width: 0.5rem;
  height: 0.5rem;
  transform: rotate(315deg);
}
